
html{ font-size:62.5%;}
body {
	/*padding-top: 7rem;*/
	background: #c9c9c9;
}

body, a, input, button, select {
	font-family: Verdana, "华文楷体", "楷体";
}

.dropdown:hover .dropdown-menu {
	display: block;   
}

.dropdown-menu{
	background-color: #222;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
}

.dropdown-menu .badge {
	float: right;
}

.page-nav a {
	position: fixed;
	top: 33vh;
	width: 3rem;
	height: 33vh;
	background-color: #222;
	color: #fff;
	font-size: 3rem;
	text-align: center;
	padding-top: 15vh;
	text-decoration: none;
}

.page-nav a {
	display: block;
}

.page-nav-pre a {
	left: 0;
}

.page-nav-next a {
	right: 0;
}

.panel-title {
	font-size: 2rem;
	font-weight: bold;
	display: inline-block;
	margin-right: 1rem;
}

.panel-body {
	font-size: 1.6rem;
}

hr {
	background-color: #222;
	height: 3px;
	color: #222;
	border: none;
}

footer {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	background-color: #222;
	color: #fff;
}

footer p {
	padding: 0;
	margin: 0;
}